body {
    overflow: hidden;
}


#lapide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste conforme necessário */
    text-align: center;
}

#lapide img {
    width: 10%; /* Ajuste para o tamanho desejado, como 50% da largura */
    height: 20%; /* Mantém a proporção */
}