/* Remover o scroll */
body {
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa da viewport para centralizar */
    flex-direction: column;
    margin: 0;
}

/* Estilização da Lápide */
#lapide {
    display: flex;
    justify-content: center;
    margin: 0; /* Remove a margem para melhor centralização */
    text-align: center;
}

/* Ajuste da Imagem da Lápide */
#lapide img {
    width: 10%; /* Ajuste para o tamanho desejado */
    height: auto; /* Mantém a proporção */
}

/* Estilização do Countdowns */
#countdowns {
    font-size: 1em;
    color: #333;
 
    top: 25%; /* Centraliza o countdown entre o topo e a lápide */
    text-align: center;
    transform: translateY(-50%); /* Ajuste fino para centralização */
}
#countdowns {
    font-size: 1em;
    color: #333;
 
    top: 25%; /* Centraliza o countdown entre o topo e a lápide */
    text-align: center;
    transform: translateY(-50%); /* Ajuste fino para centralização */
}

#A {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0; /* Remove a margem para melhor centralização */
    text-align: center;
}

/* Ajuste da Imagem da Lápide */
#A img {
    width: 40%; /* Ajuste para o tamanho desejado */
    height: auto; /* Mantém a proporção */
}


/* Estilização de Links */
a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do texto pai */
    cursor: default; /* Muda o cursor para o padrão */
}

/* Media Query para telas pequenas (smartphones) */
@media (max-width: 600px) {
    #lapide img {
        width: 50%;  /* Aumenta o tamanho da imagem */
        height: auto;  /* Ajusta automaticamente a altura para manter a proporção */
    }

    #countdowns {
        font-size: 0.8em;  /* Reduz o tamanho da fonte */
        top: -30vh; /* Ajusta a posição do countdown */
    }
}

/* Media Query para telas de tamanho médio (tablets) */
@media (max-width: 900px) {
    #lapide img {
        width: 30%; /* Aumenta o tamanho da imagem em relação a telas menores */
        height: auto; /* Ajuste automático da altura */
    }

    #countdowns {
        font-size: 0.9em; /* Ajuste da fonte */
        top: -28vh; /* Ajuste da posição vertical */
    }
}

/* Media Query para telas grandes (dispositivos desktop maiores) */
@media (min-width: 1200px) {
    #lapide img {
        width: 8%; /* Reduz um pouco o tamanho da imagem para telas grandes */
        height: auto; /* Ajuste proporcional da altura */
    }

    #countdowns {
        font-size: 1.2em; /* Aumenta o tamanho da fonte para telas grandes */
        top: -25vh; /* Mantém a posição entre o topo e a lápide */
    }
}
