body {
    overflow: hidden !important;

}


#lapide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste conforme necessário */
    text-align: center;
}

#lapide img {
    width: 10%; /* Ajuste para o tamanho desejado, como 50% da largura */
    height: 20%; /* Mantém a proporção */
}

#countdowns {
    font-size: 1em;
    color: #333;
    text-align: center;
    position: absolute;
    top: 25vh; /* Ajusta a posição vertical para metade do caminho entre o topo e a lápide */
    transform: translateY(-50%);
}

#countdowns {
    font-size: 1em;
    color: #333;
    text-align: center;
    position: absolute;
    top: 25vh; /* Ajusta a posição vertical para metade do caminho entre o topo e a lápide */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza tanto na horizontal quanto na vertical */
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Usa a cor do texto pai */
    cursor: default; /* Muda o cursor para o padrão */
}

/* Media Query para telas pequenas (smartphones) */
@media (max-width: 600px) {
    #lapide img {
        width: 50%;  /* Aumenta o tamanho da imagem */
        height: auto;  /* Ajusta automaticamente a altura para manter a proporção */
    }

    #countdowns {
        font-size: 0.8em;  /* Reduz o tamanho da fonte */
        top: 20vh; /* Ajusta a posição do countdown */
    }
}

/* Media Query para telas de tamanho médio (tablets) */
@media (max-width: 900px) {
    #lapide img {
        width: 30%; /* Aumenta o tamanho da imagem em relação a telas menores */
        height: auto; /* Ajuste automático da altura */
    }

    #countdowns {
        font-size: 0.9em; /* Ajuste da fonte */
        top: 22vh; /* Ajuste da posição vertical */
    }
}

/* Media Query para telas grandes (dispositivos desktop maiores) */
@media (min-width: 1200px) {
    #lapide img {
        width: 8%; /* Reduz um pouco o tamanho da imagem para telas grandes */
        height: 16%; /* Ajuste proporcional da altura */
    }

    #countdowns {
        font-size: 1.2em; /* Aumenta o tamanho da fonte para telas grandes */
        top: 25vh; /* Mantém o topo inalterado */
    }
}



